function Alien.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 3
push constant 0
not
pop this 2
push this 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push constant 0
not
call Alien.drawSquid 2
pop temp 0
label IF_FALSE0
push this 3
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push constant 0
not
call Alien.drawCrab 2
pop temp 0
label IF_FALSE1
push this 3
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push constant 0
not
call Alien.drawOctopus 2
pop temp 0
label IF_FALSE2
push pointer 0
return
function Alien.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Alien.kill 0
push argument 0
pop pointer 0
push constant 0
pop this 2
push this 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push constant 0
call Alien.drawSquid 2
pop temp 0
push pointer 0
call Alien.playDeathAnimation 1
pop temp 0
push constant 30
return
label IF_FALSE0
push this 3
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push constant 0
call Alien.drawCrab 2
pop temp 0
push pointer 0
call Alien.playDeathAnimation 1
pop temp 0
push constant 20
return
label IF_FALSE1
push this 3
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push constant 0
call Alien.drawOctopus 2
pop temp 0
push pointer 0
call Alien.playDeathAnimation 1
pop temp 0
push constant 10
return
label IF_FALSE2
push constant 0
return
function Alien.playDeathAnimation 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
not
call Alien.deathAnimation 2
pop temp 0
push constant 30
call Sys.wait 1
pop temp 0
push pointer 0
push constant 0
call Alien.deathAnimation 2
pop temp 0
push constant 60
call Sys.wait 1
pop temp 0
push pointer 0
push constant 0
not
call Alien.deathAnimation 2
pop temp 0
push constant 30
call Sys.wait 1
pop temp 0
push pointer 0
push constant 0
call Alien.deathAnimation 2
pop temp 0
push constant 0
return
function Alien.deathAnimation 0
push argument 0
pop pointer 0
push argument 1
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 3
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push this 0
push constant 19
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 4
add
push this 0
push constant 7
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 4
add
push this 0
push constant 15
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 12
add
push this 0
push constant 7
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 12
add
push this 0
push constant 15
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 16
add
push this 0
push constant 3
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 16
add
push this 0
push constant 19
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Alien.isHit 0
push argument 0
pop pointer 0
push this 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
push this 1
gt
push argument 2
push this 1
push constant 19
add
lt
and
push argument 1
push this 0
gt
and
push argument 1
push this 0
push constant 19
add
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
label IF_FALSE0
push this 3
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 2
push this 1
gt
push argument 2
push this 1
push constant 19
add
lt
and
push argument 1
push this 0
gt
and
push argument 1
push this 0
push constant 23
add
lt
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
return
label IF_FALSE3
label IF_FALSE2
push this 3
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 2
push this 1
gt
push argument 2
push this 1
push constant 19
add
lt
and
push argument 1
push this 0
gt
and
push argument 1
push this 0
push constant 27
add
lt
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
return
label IF_FALSE5
label IF_FALSE4
push constant 0
return
function Alien.move 0
push argument 0
pop pointer 0
push this 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push argument 1
call Alien.moveSquid 2
pop temp 0
label IF_FALSE0
push this 3
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push argument 1
call Alien.moveCrab 2
pop temp 0
label IF_FALSE1
push this 3
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push argument 1
call Alien.moveOctopus 2
pop temp 0
label IF_FALSE2
push constant 0
return
function Alien.isAlive 0
push argument 0
pop pointer 0
push this 2
return
function Alien.getX 0
push argument 0
pop pointer 0
push this 0
return
function Alien.getY 0
push argument 0
pop pointer 0
push this 1
return
function Alien.getType 0
push argument 0
pop pointer 0
push this 3
return
function Alien.drawSquid 0
push argument 0
pop pointer 0
push argument 1
call Screen.setColor 1
pop temp 0
push this 0
push constant 8
add
push this 1
push this 0
push constant 11
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 4
add
push this 0
push constant 15
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 8
add
push this 0
push constant 3
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 8
add
push this 1
push constant 8
add
push this 0
push constant 11
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 8
add
push this 0
push constant 19
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 12
add
push this 0
push constant 15
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 16
add
push this 0
push constant 3
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 8
add
push this 1
push constant 16
add
push this 0
push constant 11
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 16
add
push this 0
push constant 19
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Alien.moveSquid 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 8
add
push this 1
push this 0
push constant 9
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 4
add
push this 0
push constant 5
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 8
add
push this 0
push constant 1
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 8
add
push this 1
push constant 8
add
push this 0
push constant 9
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 8
add
push this 0
push constant 17
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 12
add
push this 0
push constant 5
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 16
add
push this 0
push constant 1
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 8
add
push this 1
push constant 16
add
push this 0
push constant 9
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 16
add
push this 0
push constant 17
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 12
add
push this 1
push this 0
push constant 13
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 4
add
push this 0
push constant 17
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 8
add
push this 0
push constant 5
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 8
add
push this 0
push constant 13
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 20
add
push this 1
push constant 8
add
push this 0
push constant 21
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 12
add
push this 0
push constant 17
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 16
add
push this 0
push constant 5
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 16
add
push this 0
push constant 13
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 20
add
push this 1
push constant 16
add
push this 0
push constant 21
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
pop this 0
goto IF_END0
label IF_FALSE0
push argument 1
push constant 1
neg
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 10
add
push this 1
push this 0
push constant 11
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 14
add
push this 1
push constant 4
add
push this 0
push constant 15
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
push this 1
push constant 8
add
push this 0
push constant 3
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 10
add
push this 1
push constant 8
add
push this 0
push constant 11
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 18
add
push this 1
push constant 8
add
push this 0
push constant 19
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 14
add
push this 1
push constant 12
add
push this 0
push constant 15
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
push this 1
push constant 16
add
push this 0
push constant 3
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 10
add
push this 1
push constant 16
add
push this 0
push constant 11
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 18
add
push this 1
push constant 16
add
push this 0
push constant 19
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 6
add
push this 1
push this 0
push constant 7
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
push this 1
push constant 4
add
push this 0
push constant 3
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
sub
push this 1
push constant 8
add
push this 0
push constant 1
sub
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 6
add
push this 1
push constant 8
add
push this 0
push constant 7
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 14
add
push this 1
push constant 8
add
push this 0
push constant 15
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
push this 1
push constant 12
add
push this 0
push constant 3
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
sub
push this 1
push constant 16
add
push this 0
push constant 1
sub
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 6
add
push this 1
push constant 16
add
push this 0
push constant 7
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 14
add
push this 1
push constant 16
add
push this 0
push constant 15
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
sub
pop this 0
goto IF_END1
label IF_FALSE1
push this 0
push constant 8
add
push this 1
push this 0
push constant 11
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 4
add
push this 0
push constant 11
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 4
add
push this 0
push constant 15
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 8
add
push this 0
push constant 3
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 8
add
push this 0
push constant 19
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 12
add
push this 0
push constant 7
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 12
add
push this 0
push constant 15
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 16
add
push this 0
push constant 3
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 16
add
push this 0
push constant 19
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 8
add
push this 0
push constant 7
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 8
add
push this 0
push constant 15
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 12
add
push this 0
push constant 3
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 12
add
push this 0
push constant 19
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 16
add
push this 0
push constant 7
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 16
add
push this 0
push constant 15
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 20
add
push this 0
push constant 3
add
push this 1
push constant 23
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 8
add
push this 1
push constant 20
add
push this 0
push constant 11
add
push this 1
push constant 23
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 20
add
push this 0
push constant 19
add
push this 1
push constant 23
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 4
add
pop this 1
label IF_END1
label IF_END0
push constant 0
return
function Alien.drawCrab 0
push argument 0
pop pointer 0
push argument 1
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 7
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push this 0
push constant 23
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 4
add
push this 0
push constant 19
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 8
add
push this 0
push constant 3
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 8
add
push this 1
push constant 8
add
push this 0
push constant 15
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 20
add
push this 1
push constant 8
add
push this 0
push constant 23
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 12
add
push this 0
push constant 23
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 16
add
push this 0
push constant 7
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 16
add
push this 0
push constant 19
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Alien.moveCrab 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
push this 0
push constant 1
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push this 0
push constant 17
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 4
add
push this 0
push constant 5
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 8
add
push this 0
push constant 1
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 8
add
push this 1
push constant 8
add
push this 0
push constant 9
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 20
add
push this 1
push constant 8
add
push this 0
push constant 21
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 12
add
push this 0
push constant 1
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 16
add
push this 0
push constant 5
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 16
add
push this 0
push constant 17
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 8
add
push this 1
push this 0
push constant 9
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 24
add
push this 1
push this 0
push constant 25
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 20
add
push this 1
push constant 4
add
push this 0
push constant 21
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 8
add
push this 0
push constant 5
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 8
add
push this 0
push constant 17
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 24
add
push this 1
push constant 8
add
push this 0
push constant 25
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 24
add
push this 1
push constant 12
add
push this 0
push constant 25
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 8
add
push this 1
push constant 16
add
push this 0
push constant 9
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 20
add
push this 1
push constant 16
add
push this 0
push constant 21
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
pop this 0
goto IF_END0
label IF_FALSE0
push argument 1
push constant 1
neg
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 6
add
push this 1
push this 0
push constant 7
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 22
add
push this 1
push this 0
push constant 23
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 18
add
push this 1
push constant 4
add
push this 0
push constant 19
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
push this 1
push constant 8
add
push this 0
push constant 3
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 14
add
push this 1
push constant 8
add
push this 0
push constant 15
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 22
add
push this 1
push constant 8
add
push this 0
push constant 23
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 22
add
push this 1
push constant 12
add
push this 0
push constant 23
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 6
add
push this 1
push constant 16
add
push this 0
push constant 7
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 18
add
push this 1
push constant 16
add
push this 0
push constant 19
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 2
sub
push this 1
push this 0
push constant 1
sub
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 14
add
push this 1
push this 0
push constant 15
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
push this 1
push constant 4
add
push this 0
push constant 3
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
sub
push this 1
push constant 8
add
push this 0
push constant 1
sub
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 6
add
push this 1
push constant 8
add
push this 0
push constant 7
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 18
add
push this 1
push constant 8
add
push this 0
push constant 19
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
sub
push this 1
push constant 12
add
push this 0
push constant 1
sub
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
push this 1
push constant 16
add
push this 0
push constant 3
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 14
add
push this 1
push constant 16
add
push this 0
push constant 15
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
sub
pop this 0
goto IF_END1
label IF_FALSE1
push this 0
push this 1
push this 0
push constant 7
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push this 0
push constant 23
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 8
add
push this 1
push constant 4
add
push this 0
push constant 15
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 8
add
push this 0
push constant 3
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 20
add
push this 1
push constant 8
add
push this 0
push constant 23
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 12
add
push this 0
push constant 7
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 12
add
push this 0
push constant 19
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 4
add
push this 0
push constant 3
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 20
add
push this 1
push constant 4
add
push this 0
push constant 23
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 8
add
push this 0
push constant 7
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 8
add
push this 0
push constant 19
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 16
add
push this 0
push constant 3
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 8
add
push this 1
push constant 16
add
push this 0
push constant 15
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 20
add
push this 1
push constant 16
add
push this 0
push constant 23
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 20
add
push this 0
push constant 7
add
push this 1
push constant 23
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 20
add
push this 0
push constant 19
add
push this 1
push constant 23
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 4
add
pop this 1
label IF_END1
label IF_END0
push constant 0
return
function Alien.drawOctopus 0
push argument 0
pop pointer 0
push argument 1
call Screen.setColor 1
pop temp 0
push this 0
push constant 4
add
push this 1
push this 0
push constant 23
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 4
add
push this 0
push constant 3
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 4
add
push this 0
push constant 15
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 24
add
push this 1
push constant 4
add
push this 0
push constant 27
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 8
add
push this 0
push constant 27
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 12
add
push this 0
push constant 11
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 12
add
push this 0
push constant 23
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 16
add
push this 0
push constant 7
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 16
add
push this 0
push constant 15
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 20
add
push this 1
push constant 16
add
push this 0
push constant 27
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Alien.moveOctopus 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 4
add
push this 1
push this 0
push constant 5
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 4
add
push this 0
push constant 1
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 4
add
push this 0
push constant 13
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 24
add
push this 1
push constant 4
add
push this 0
push constant 25
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 12
add
push this 0
push constant 5
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 12
add
push this 0
push constant 17
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 16
add
push this 0
push constant 1
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 16
add
push this 0
push constant 13
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 20
add
push this 1
push constant 16
add
push this 0
push constant 21
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 24
add
push this 1
push this 0
push constant 25
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 4
add
push this 0
push constant 5
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 4
add
push this 0
push constant 17
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 28
add
push this 1
push constant 4
add
push this 0
push constant 29
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 12
add
push this 0
push constant 13
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 24
add
push this 1
push constant 12
add
push this 0
push constant 25
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 8
add
push this 1
push constant 16
add
push this 0
push constant 9
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 16
add
push this 0
push constant 17
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 28
add
push this 1
push constant 16
add
push this 0
push constant 29
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
pop this 0
goto IF_END0
label IF_FALSE0
push argument 1
push constant 1
neg
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 22
add
push this 1
push this 0
push constant 23
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
push this 1
push constant 4
add
push this 0
push constant 3
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 14
add
push this 1
push constant 4
add
push this 0
push constant 15
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 26
add
push this 1
push constant 4
add
push this 0
push constant 27
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 10
add
push this 1
push constant 12
add
push this 0
push constant 11
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 22
add
push this 1
push constant 12
add
push this 0
push constant 23
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 6
add
push this 1
push constant 16
add
push this 0
push constant 7
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 14
add
push this 1
push constant 16
add
push this 0
push constant 15
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 26
add
push this 1
push constant 16
add
push this 0
push constant 27
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 2
add
push this 1
push this 0
push constant 3
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
sub
push this 1
push constant 4
add
push this 0
push constant 1
sub
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 10
add
push this 1
push constant 4
add
push this 0
push constant 11
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 22
add
push this 1
push constant 4
add
push this 0
push constant 23
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
push this 1
push constant 12
add
push this 0
push constant 3
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 14
add
push this 1
push constant 12
add
push this 0
push constant 15
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
sub
push this 1
push constant 16
add
push this 0
push constant 1
sub
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 10
add
push this 1
push constant 16
add
push this 0
push constant 11
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 18
add
push this 1
push constant 16
add
push this 0
push constant 19
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
sub
pop this 0
goto IF_END1
label IF_FALSE1
push this 0
push constant 4
add
push this 1
push this 0
push constant 23
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 4
add
push this 0
push constant 3
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 24
add
push this 1
push constant 4
add
push this 0
push constant 27
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 8
add
push this 0
push constant 11
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 8
add
push this 0
push constant 23
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 16
add
push this 0
push constant 3
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 16
add
push this 0
push constant 15
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 24
add
push this 1
push constant 16
add
push this 0
push constant 27
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 4
add
push this 1
push constant 4
add
push this 0
push constant 11
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 4
add
push this 0
push constant 23
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 12
add
push this 0
push constant 3
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 12
add
push this 0
push constant 15
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 24
add
push this 1
push constant 12
add
push this 0
push constant 27
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 8
add
push this 1
push constant 16
add
push this 0
push constant 11
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 16
add
push this 0
push constant 19
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 20
add
push this 0
push constant 7
add
push this 1
push constant 23
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 20
add
push this 0
push constant 15
add
push this 1
push constant 23
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 20
add
push this 1
push constant 20
add
push this 0
push constant 27
add
push this 1
push constant 23
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 4
add
pop this 1
label IF_END1
label IF_END0
push constant 0
return
