function Player.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 250
pop this 0
push constant 236
pop this 1
push pointer 0
push constant 0
not
call Player.draw 2
pop temp 0
push pointer 0
return
function Player.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Player.draw 0
push argument 0
pop pointer 0
push argument 1
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 7
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 8
sub
push this 1
push constant 8
add
push this 0
push constant 15
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
sub
push this 1
push constant 12
add
push this 0
push constant 19
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Player.getX 0
push argument 0
pop pointer 0
push this 0
return
function Player.getY 0
push argument 0
pop pointer 0
push this 1
return
function Player.moveLeft 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 7
add
push this 1
push this 0
push constant 7
add
push this 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 15
add
push this 1
push constant 8
add
push this 0
push constant 15
add
push this 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 19
add
push this 1
push constant 12
add
push this 0
push constant 19
add
push this 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 1
sub
push this 1
push this 0
push constant 1
sub
push this 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 9
sub
push this 1
push constant 8
add
push this 0
push constant 9
sub
push this 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 13
sub
push this 1
push constant 12
add
push this 0
push constant 13
sub
push this 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 1
sub
pop this 0
push constant 0
return
function Player.moveRight 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 8
sub
push this 1
push constant 8
add
push this 0
push constant 8
sub
push this 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 12
sub
push this 1
push constant 12
add
push this 0
push constant 12
sub
push this 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 8
add
push this 1
push this 0
push constant 8
add
push this 1
push constant 7
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 8
add
push this 0
push constant 16
add
push this 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 20
add
push this 1
push constant 12
add
push this 0
push constant 20
add
push this 1
push constant 19
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 1
add
pop this 0
push constant 0
return
function Player.isHit 0
push argument 0
pop pointer 0
push argument 2
push this 1
gt
push argument 2
push this 1
push constant 19
add
lt
and
push argument 1
push this 0
push constant 12
sub
gt
and
push argument 1
push this 0
push constant 19
add
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function Player.playDeathAnimation 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
call Player.draw 2
pop temp 0
push pointer 0
push constant 0
not
call Player.deathAnimation 2
pop temp 0
push constant 40
call Sys.wait 1
pop temp 0
push pointer 0
push constant 0
call Player.deathAnimation 2
pop temp 0
push constant 60
call Sys.wait 1
pop temp 0
push pointer 0
push constant 0
not
call Player.deathAnimation 2
pop temp 0
push constant 40
call Sys.wait 1
pop temp 0
push pointer 0
push constant 0
call Player.deathAnimation 2
pop temp 0
push constant 60
call Sys.wait 1
pop temp 0
push pointer 0
push constant 0
not
call Player.deathAnimation 2
pop temp 0
push constant 40
call Sys.wait 1
pop temp 0
push pointer 0
push constant 0
call Player.deathAnimation 2
pop temp 0
push constant 0
return
function Player.deathAnimation 0
push argument 0
pop pointer 0
push argument 1
call Screen.setColor 1
pop temp 0
push this 0
push constant 12
sub
push this 1
push this 0
push constant 9
sub
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
add
push this 1
push this 0
push constant 7
add
push this 1
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 4
sub
push this 1
push constant 4
add
push this 0
push constant 1
sub
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 4
add
push this 0
push constant 15
add
push this 1
push constant 7
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
sub
push this 1
push constant 8
add
push this 0
push constant 9
sub
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 8
add
push this 0
push constant 7
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 16
add
push this 1
push constant 8
add
push this 0
push constant 19
add
push this 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
sub
push this 1
push constant 12
add
push this 0
push constant 1
sub
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
add
push this 1
push constant 12
add
push this 0
push constant 19
add
push this 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 12
sub
push this 1
push constant 16
add
push this 0
push constant 19
add
push this 1
push constant 19
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
